/*
모든 페이지에 적용할 공통 스타일
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    font-family: "Montserrat", "Lucida Grande", "Lucida Sans", Tahoma, Verdana, sansserif;
    color: #000000;
    text-align: center;
}

.lead {
    color: white;
}

#header {
    background-color: white;
}

#wrapper {
    width: 980px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    background-color: pink;
}


#logo {
    padding-top: 70px;
    font-size: 5.0em;
    color: black;
    font-family: 'Rock Salt', cursive;
    margin-bottom: 50px;
}

#bigLogo{
    margin-top: 100px;
    font-size: 9.0em;
    font-family: "Rock Salt", cursive;
    text-shadow: 0px 0px 0px 5px grey;

}

#headlogo {
    background: #F4EFE9;
    font-family: "Rock Salt", cursive;
    height: 300px;
}

#navbar {
    background-color: #F4EFE9;
    height: 70px;
}



#footer{
    background: #F4EFE9;
}

#navlogo{
    font-family: "Rock Salt", cursive;
    font-size: 1.0em;
    font-weight: 700;
    margin-top: 25px;
    margin-right: 5px;
    margin-left: 20px;
}

#pageLogo{
    font-family: "Rock Salt", cursive;
    margin-top: 20px;
}

#cartLogo{
    font-family: "Rock Salt", cursive;
}



table {
    border-spacing: 0;
    border-collapse: collapse;
}

.xs {
    text-align: left;
    font-size: 0.8rem;
}


td {
    text-align: left;
    font-weight: normal;
}


small{
    font-size: 1.0rem;
}

h1 {
    font-size: 4.0em;
    color: white;
    font-family: 'Oi', cursive;
    text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

h2 {
    font-size: 2.4em;
}

h3 {
    font-size: 2.0em;
}

h4 {
    font-size: 1.8em;
}

h5 {
    font-size: 1.6em;
}

h6 {
    font-size: 1.4em;
    font-weight: 500;
}

p {
    font-size: 1.4em;
}

.banner {
    text-align: center;
    color: gray;
}

.container {
    max-width: 2000px;
}

li {
    list-style: none;
}

ol {
    list-style: none;
}

ol{
    list-style:none;
}

#signUpDiv{
    width: 60%;
    margin-left: 20%;
}

.col-9{
    text-align: center;
    margin-left: 12%;
}



.mb-2{
    text-align: center;
}

#policyDiv{
    margin-top: 10px;
}

#agreement{
    margin-left: 72%;
}

#agreePolicyLabel{
    text-align: right;
    margin-left: 77%;
}

#pageInfo{
    margin-bottom: 40px;
}

#infoLabel{
    margin-top: 20px;
    margin-bottom: 50px;
}

#infoLabel2{
    margin-top: 10px;
}

#pageInfo{
    text-align: center;
}

.form-label{
    text-align: left;
}

#passwordDiv{
    margin-top: 30px;
}

#email{
}

#password{
}




.imgbox_middle {
    margin: 5px;
    padding: 7px;
    display: inline;
    width: 200px;
    height: 200px;
}


.outerimgbox, .topimgbox, .bottomimgbox, .accimgbox, .shoesimgbox {

    /*writing-mode:vertical-lr;*/
    text-align: center;
    width: 200px;
    height: 200px;
    display: inline;
}

/*#reviewHeadDiv, #reviewFragDiv{*/
/*    margin-left: 10%;*/
/*    margin-right: 10%;*/
/*}*/

/*#reviewTableHead{*/
/*    display: inline;*/
/*}*/

.vertical-data {
    writing-mode: vertical-lr
}

.review-tr {
    text-align: center;
}

.slidecontainer {
    width: 50%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #A9A9A9;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}
.review-tr{
    text-align: center;
}
.slidecontainer {
    width: 50%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #A9A9A9;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #161616;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #161616;
    cursor: pointer;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #161616;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #161616;
    cursor: pointer;
}


#back {
    margin-left: 0;
    background-color: white;
}


.nav-link{
    text-align: center;
    font-weight: 700;
    font-size: 1.0em;
    margin-top: 7px;
    margin-left: 10px;
    background: transparent;
}

#usernav{
    text-align: right;
    float: right;
}

#userEmail{
    color: black;
}

#nav_left{
    margin-left: 15px;
}

#searchType {
    margin: 10px;
}

#rightNavigation{
    position: absolute;
    right: 40px;
    margin-top: -5px;
}

#carousel {
    width: 50%;
    height: 250px;
}

.user {
    display: inline;
    text-decoration: black;
    margin-left: 10px;
    margin-right: 10px;
}

#memberInfo {
    color: darkgrey;
}

#memberIdTag{
    color: black;
    text-decoration: none;
}

#modifyIcon{
    color: black;
    display: inline;
}

#memberInfoTable{
    width: 60%;
    margin-top: 30px;
    margin-left: 30%;
}


#pagebox {
    width: 95%;
}


#logoutbtn{
    background-color: rgba( 255, 255, 255, 0 );
    color: grey;
    margin-top: 5px;
    margin-left: 7px;
    font-weight: 700;
    font-size: 1.0em;
}

.component {
    text-align: center;
}

#component_img {
    width: 300px;
    height: 400px;
    margin: 15px 15px 15px -10px;
}

#component_info {
    text-align: center;
    margin-left: 40px;
}

#component_name {
    display: block;
    text-align: center;
}

#catetitle {
    margin-left: 360px;
    text-align: center;
    width: 50%;

}

#detailbox{
    margin-top: 30px;
    margin-bottom: 50px;
}
#brandname{
    text-align: left;
    display: block;
}

#imgbox {
    width: 400px;
    height: 400px;
    margin: 20px;
    margin-bottom: 50px;
}

#nowimg {
    width: 400px;
    height: 500px;
}

#product_info {
    width: 450px;
}

#brandinfo, #codeinfo {
    display: inline;
}

#imgboxs_mini {
    text-align: center;
    width: 400px;
    height: 40px;
    margin-top: 130px;
}

.imgbox_mini {
    width: 40px;
    height: 40px;
    display: inline;
    margin: 5px;
    padding: 7px;
}

.mini {
    width: 40px;
    height: 40px;
    border: 1px solid lightgrey;
}
.color_box{
    text-align: center;
}
.color_square{
    width: 35px;
    height: 35px;
    margin-right: 5%;
    border: 1px solid darkgrey;
    border-radius: 5px;
}

.color_box {
    text-align: center;
}

.color_square {
    width: 35px;
    height: 35px;
    margin-right: 5%;
}

.color_box {
    text-align: center;
}

.color_square {
    width: 35px;
    height: 35px;
    margin-right: 5%;
}

#product_img {
    margin-right: 20px;
}



#cody_info {
    width: 450px;
    text-align: center;
    margin-left: 30px;
    margin-top: 30px;
}


#product_info{
    margin-top: 50px;
    margin-left: 5%;
    text-align: left;
}

#ic-like {
    display: inline;
}

#likecount {
    display: inline;
}

#likeinfo {
    display: inline;
}

#likeitem_table {
    text-align: center;
    width: 70%;
    margin-left: 10%;
}

#likeitem_div {
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 80px;
    padding-right: 80px;
}

.col-4{
    max-width: 320px;
    margin-bottom: 20px;
}

#likeitem_imgbox {
    display: inline;
    margin: 15px;
    width: 210px;
    height: 210px;
    text-align: center;

}

#likeitem_img {
    margin-left: 60px;
    display: block;
    border: 1px solid darkgrey;
    border-radius: 100px;
    width: 200px;
    height: 200px;
    text-align: center;
}

#likeitem_info {
    text-align: left;
    width: 210px;
}

#likeitem_name {
    margin-top: 15px;
    margin-left: 60px;
    width: 50px;
}

#likeitem_price {
    margin-left: 60px;
}

#buyandcartbtn {
    margin-top: 20px;
}

#buybtn{
    padding: 10px;
    /*margin-top: 10px;*/
    margin-bottom: 0px;
    margin-right: 10px;
}

#cartbtn {
    display: inline;
    padding: 10px;
}

#cartform {
    margin-top: 5px;
    display: inline;
}

#cart_table {
    text-align: center;
    width: 70%;
    margin-left: 15%;
}

#cart_minus {
    display: inline;
}

#cartMinusBtn{
    color: black;
    background: none;
}

#minus_icon {
    background: none;
}

#like, #wr-review {
    padding: 10px;
}


#codybox {
    text-align: center;
    display: inline;
}

.cody {
    display: inline;
    text-align: center;
    border: 1px solid grey;
    width: 100px;
    height: 100px;
}



#likelist_container{
    text-align: center;
}

#wishlist_table_box {
    text-align: center;
}

#wishlist_table {
    margin-left: 21%;
    text-align: center;
    width: 800px;
}

#reivewInput{
    width: 600px;
    height: 100px;
    margin: 15px 15px 15px -10px;
}

.likeListForCody{
    text-align: center;
    width: 900px;
    height: 300px;
}


.codyContainer {
    text-align: center;
    height: 900px;
    display: inline;
}


.codyArea {
    class: row;
    position: relative;
    height: 400px;
    width: 400px;
    background-color: #F8EAC3;
    border: solid 1px darkgrey;
    border-radius: 20px;
}

.codyArea_carousel {
    class: row;
    position: relative;
    height: 400px;
    width: 400px;
    background-color: #F8EAC3;
}




.bottomCody {
    position: absolute;
    top: 20px;
    left: 160px;
    width: 60%;
}

.topCody {
    position: absolute;
    top: 20px;
    left: 35px;
    width: 50%;
}

.outerCody {
    position: absolute;
    top: 120px;
    left: 95px;
    width: 50%;
}

.shoesCody {
    position: absolute;
    top: 245px;
    left: 215px;
    width: 30%;
}

.accCody {
    position: absolute;
    top: 210px;
    left: 10px;
    width: 30%;
}

/*올빼미캐러셀 네비*/
.owl-nav, .owl-dots {
    display: block;
    text-align: center;
}

.owl-nav .owl-prev, .owl-nav .owl-next {
    display: inline-block;
    margin: 5px;
}

.owl-dots .owl-dot {
    display: inline-block;
    background-color: #ccc;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 5px;
}

.owl-dots .active {
    background-color: #666;
}

.likeList{
    text-align: center;
}

.codyContainer{
    text-align: center;
    height: 900px;
    display: inline;
}
.pagetitle{
    text-align: left;
    margin-left: 100px;
}


#weatherTable{
    align-content: center;
    width: 60%;
    margin-top: 50px;
    margin-left: 20%;
}

#full_address{
    font-family: "Noto Sans KR", "Lucida Grande", "Lucida Sans", Tahoma, Verdana, sansserif;
    font-size: 25px;
}

#loadWeather{
    color: black;
    font-family: "Noto Sans KR", "Lucida Grande", "Lucida Sans", Tahoma, Verdana, sansserif;
    font-size: 25px;
}

#loadWeatherIcon{
    /*margin-left: 6%;*/
    /*margin-top: 10%;*/
    text-align: center;
    width: 100px;
    height: 100px;
}

#weatherFragDiv{
    margin-top: 5%;
}

#weatherIconDiv{
    margin-left: 10%;
}

#weatherInfoDiv{
    text-align: left;
}

#recoFragDiv{
    margin-left: -50px;
}

#recoFragTitle{
    font-family: "Noto Sans KR", "Lucida Grande", "Lucida Sans", Tahoma, Verdana, sansserif;
    font-size: 3.2rem;
}

#recoFragInfo{
    font-family: "Noto Sans KR", "Lucida Grande", "Lucida Sans", Tahoma, Verdana, sansserif;
    font-size: 2.0rem;
}

#city{
    height: 33px;
    border: 1px solid darkgray;
    border-radius: 5px;
    padding-left: 10px;
    margin-top: 5px;
    margin-right: 10px;
    color: black;

}

#weatherSearchBtn{
    display: inline;
    border: 1px solid darkgray;
    border-radius: 20px;
    background-color: lemonchiffon;
    color: black;
}


#loadWeatherIcon{
    margin-bottom: 25px;
}


#recommendDiv{
    margin-top: 70px;
}



/*#carousel1, #carousel2, #carousel3{*/
/*    width: 400px;*/
/*    height: 500px;*/
/*}*/

#carouselDiv{
    /*text-align: center;*/
    /*margin-left: 7%;*/
    width: 10%;
    height: 800px;
}

.carouselImg{
    width: 7%;
    height: 7%;
}

#carouselExampleIndicators{
    /*margin-left: 10%;*/
    /*width: 80%;*/
    text-align: center;
}

.carousel-inner{
    /*width: 60%;*/
}