<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <!--CDN 링크 -->
</head>

<!-- fragment 선언 -->

<!-- header -->
<div id="header" th:fragment="header">

    <!-- main Container -->
    <div class="py-1 text-center" id="headlogo">
        <p><br/>
        <h1 id="logo">Daily <br/>Closet!</h1></p>
    </div>


    <!-- navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="navbar">
        <div>
            <a class="navbar-brand" href="/" th:href="@{/}"><p id="navlogo"> Daily Closet</p></a>
        </div>


        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto" id="nav_left">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/itemList(categoryName='best',page=1,limit=20)}">BEST</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/itemList(categoryName='아우터',page=1,limit=20,sort='name')}">Outer</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/itemList(categoryName='상의',page=1,limit=20,sort='name')}">Top</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/itemList(categoryName='바지',page=1,limit=20,sort='name')}">Bottom</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/itemList(categoryName='신발_스니커즈',page=1,limit=20,sort='name')}">Shoes</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/itemList(categoryName='가방_여성가방',page=1,limit=20,sort='name')}">Acc</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/daily-recommend}" sec:authorize="!isAuthenticated()">Weather</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/daily-recommend}" sec:authorize="isAuthenticated()">Weather</a>
                </li>

            </ul>


            <div id="rightNavigation">
                <ul class="navbar-nav mr-auto">

                    <li class="nav-item">
                        <a class="nav-link" id="userEmail" th:href="@{/memberInfo}" sec:authorize="isAuthenticated()"
                           th:text="${#authentication?.name}"></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/login}" sec:authorize="!isAuthenticated()">Login</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/signup}" sec:authorize="!isAuthenticated()">Sign up</a>
                    </li>

                    <li class="nav-item">
                        <a id="navp" class="nav-link" th:href="@{/cart/list}" sec:authorize="isAuthenticated()">
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/store/like-list}" sec:authorize="isAuthenticated()">
                            <i class="fas fa-heart"></i>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/cody}" th:method="get" sec:authorize="isAuthenticated()">
                            <i class="fas fa-tshirt"></i>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/notice}">
                            <i class="fas fa-question-circle"></i>
                        </a>
                    </li>

                    <form class="form-inline" th:action="@{/logout}" th:method="post">
                        <button type="submit" class="nav-link" sec:authorize="isAuthenticated()">Logout</button>
                    </form>
                </ul>
            </div>
        </div>
    </nav>
</div>


<!-- footer -->
<div id="footer" th:fragment="footer" class="jumbotron text-center banner"
     style="margin-bottom: 0;">

    <xs>&copy;2021. Daily Closet. All Rights Reserved.</xs>

</div>

</html>